{{> head }}

{{> navbar }}

<section id="about">
  <div class=" shadow">
    <div class="row row--modify">
      <div class="col-1">
      </div>
      <div class="col-5 my-auto">
        <h3 class="mt-4">¿Que queremos?</h3>
        <p class="pl-2 pt-2 h5">
          Nuestro objetivo es crear vínculos estables entre las personas y los comercios de barrio.</br></br>
          Integramos a los comercios de barrio en el mundo digital y los conectamos con sus clientes.
          Potenciamos la compra al pequeño comercio ofreciendo descuentos y regalos.</br></br>
          Participa de esta transformación, apoya tu barrio, únete a nuestra comunidad.
        </p>
      </div>
      <div class="col-1">
      </div>
      <div class="col-4">
        <img src="assets/img/imagen1.png" class="img-fluid" />
      </div>

    </div>
  </div>
</section>

<section id="counter">
  <div class="counter rounded bg-gradient-3 text-mypurple shadow p-5 text-center mb-5">
    <h3 class="mb-0 font-weight-bold text-uppercase">¡TIEMPO HASTA EL LANZAMIENTO!</h3>
    <!-- Display the countdown timer in an element -->
    <p style="font-size:30px;" id="clock"></p>
  </div>
</section>

<section id="works">
  <div class="rounded bg-gradient-3 text-mypurple shadow p-5 text-center mb-5">
    <h3 class="mb-0 font-weight-bold text-uppercase">Cómo funciona</h3>
    <img src="assets/img/funcionamiento.png" class="img-fluid" />
  </div>
</section>

<section id="contact">
  <div class="rounded bg-gradient-3 text-mypurple shadow p-5 text-center mb-5">
    <h3 class="mb-0 font-weight-bold text-uppercase">Contáctanos</h3>
    <div class="row row--modify">
      <div class="col-3">
      </div>
      <div class="col-2">
        <h3 class="mt-4">¿Que queremos?</h3>
        <p class="pl-2 pt-2 h5">
          Nuestro objetivo es crear vínculos estables entre las personas y los comercios de barrio.</br></br>
          Integramos a los comercios de barrio en el mundo digital y los conectamos con sus clientes.
          Potenciamos la compra al pequeño comercio ofreciendo descuentos y regalos.</br></br>
          Participa de esta transformación, apoya tu barrio, únete a nuestra comunidad.
        </p>
      </div>
      <div class="col-2">
        <h3 class="mt-4">¿Que queremos?</h3>
        <p class="pl-2 pt-2 h5">
          Nuestro objetivo es crear vínculos estables entre las personas y los comercios de barrio.</br></br>
          Integramos a los comercios de barrio en el mundo digital y los conectamos con sus clientes.
          Potenciamos la compra al pequeño comercio ofreciendo descuentos y regalos.</br></br>
          Participa de esta transformación, apoya tu barrio, únete a nuestra comunidad.
        </p>
      </div>
      <div class="col-2">
        <h3 class="mt-4">¿Que queremos?</h3>
        <p class="pl-2 pt-2 h5">
          Nuestro objetivo es crear vínculos estables entre las personas y los comercios de barrio.</br></br>
          Integramos a los comercios de barrio en el mundo digital y los conectamos con sus clientes.
          Potenciamos la compra al pequeño comercio ofreciendo descuentos y regalos.</br></br>
          Participa de esta transformación, apoya tu barrio, únete a nuestra comunidad.
        </p>
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</section>
{{> footer }}
